**/bin
**/obj
**/.vs
**/.vscode
**/.idea
**/.git
**/.gitignore
**/node_modules
*.user
*.suo
.dockerignore
Dockerfile
docker-compose.yml
DOCKER.md
README.md

**/values.dev.yaml
LICENSE
README.md
!**/.gitignore
!.git/HEAD
!.git/config
!.git/packed-refs
!.git/refs/heads/**